<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <style>
        .d{
            margin:auto;
            width: 50%;
            height: 120px;
        }
        .f{
            padding:15px 15px 125px 30%;
        }
        .i{
            line-height: 30px;
            border: 2px solid blue;
            padding-top: 10px;
            margin-top: 5px;
        }
        .r{
            padding-top: 5px;
            margin-top: 5px;
            margin-left:30%;
        }
    </style>
</head>
<body>
<h1 align="center">欢迎进入登陆页面</h1>
<div class="d">
<form method="post" action="./login" class="f" >
    <input type="text"  name="username" class="i">账号
    <br>
    <input type="password" name="password" class="i">密码
    <br>
    <button type="submit" class="r" >登陆</button>
</form>
</div>
</body>
</html>